h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    color: #00cc99;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #33cccc;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #0066cc;
}